<div class="container">           
	<table class="table" border="">
		<tr>
	    <th colspan="3"><h3 align="center">Assignment</h3></th>
	  </tr>
	  <tr>
	    <th> Name </th>
	    <th> Start time </th>
	    <th> End time </th>
	  </tr>
    </tr>
    	<td><%=@assignment.name%></td>
    	<td><%=@assignment.start_time%></td>
    	<td><%=@assignment.end_time%></td>
    </tr>
	</table>
</div>
<h3>Status : <%=@assigned_user.status%></h3>
<%=render 'form'%>

